@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Itim', cursive;
  font-size: 20px; }

@media (min-width: 992px) {
  body .navbar-toggler {
    display: none !important; }
  body .navbar-nav {
    flex-direction: row !important; }
  body .nav-item-menu {
    padding: 0px 15px; } }

@media (max-width: 992px) {
  body .redes {
    display: none; }
  body .menu {
    display: none !important; }
  body .navbar-nav {
    flex-direction: column !important; } }

@media (max-width: 772px) {
  body .cartas {
    display: none; } }

@media (min-width: 772px) {
  body .info {
    display: none; } }

@media (max-width: 600px) {
  body .contacto {
    padding: 60px 15px !important; } }

.header {
  background-color: #3434e6;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  padding: 5px 30px; }
  .header .logo {
    cursor: pointer; }
    .header .logo img {
      height: 40px;
      width: auto; }
  .header .navbar-nav {
    flex-direction: row; }
    .header .navbar-nav .nav-item-menu .nav-link {
      color: white;
      padding: 0px 15px 0px 15px; }
  .header .fa {
    font-size: x-large;
    color: white;
    padding: 10px 5px 0px 5px; }
  .header .offcanvas {
    color: white !important;
    background-color: rgba(0, 0, 0, 0.892) !important; }

footer {
  height: auto;
  width: auto;
  background-color: rgba(0, 0, 0, 0.892);
  color: white; }
  footer .btn-enviar {
    padding: 15px 0px; }

main .carousel {
  background-color: rgba(0, 0, 0, 0.892); }

main .confia {
  background-color: white;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center; }

main .cartas {
  background-color: rgba(0, 0, 0, 0.892);
  min-height: 100px;
  justify-content: space-around; }
  main .cartas .col {
    min-height: 100px;
    justify-content: center;
    align-items: center;
    display: flex; }
    main .cartas .col .flip-card {
      background-color: transparent;
      width: 190px;
      height: 254px;
      perspective: 1000px;
      font-family: sans-serif; }
      main .cartas .col .flip-card .flip-card-inner {
        position: relative;
        height: 100%;
        width: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d; }
        main .cartas .col .flip-card .flip-card-inner .flip-card-front, main .cartas .col .flip-card .flip-card-inner .flip-card-back {
          box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.892);
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          width: 100%;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          border: 1px solid white;
          border-radius: 1rem; }
        main .cartas .col .flip-card .flip-card-inner .flip-card-front {
          background: linear-gradient(120deg, #92999d 60%, #3e3e3f 88%, #ffd3c3 40%, rgba(69, 67, 67, 0.603) 48%);
          color: coral; }
          main .cartas .col .flip-card .flip-card-inner .flip-card-front .title {
            font-size: 1.2em;
            font-weight: 900;
            text-align: center;
            margin: 0;
            color: rgba(0, 0, 0, 0.892); }
        main .cartas .col .flip-card .flip-card-inner .flip-card-back {
          background: linear-gradient(120deg, #2173c5 30%, #1a0a69 88%, bisque 40%, rgba(69, 67, 67, 0.603) 48%);
          color: white;
          transform: rotateY(180deg);
          overflow: hidden; }
          main .cartas .col .flip-card .flip-card-inner .flip-card-back .textoBack {
            font-size: 17px;
            color: white;
            justify-content: center;
            justify-items: center; }
    main .cartas .col:hover .flip-card-inner {
      transform: rotateY(180deg); }

body #contactos .contacto {
  height: auto;
  width: auto; }
  body #contactos .contacto .imagenContacto {
    height: 100%;
    width: auto; }

body .info {
  background-color: rgba(0, 0, 0, 0.892);
  padding: 30px 10px 0px 10px;
  text-align: center;
  color: white; }

main .caja-contenedora {
  height: auto;
  width: auto;
  background-color: red; }
  main .caja-contenedora .caja-productos {
    background-color: rgba(0, 0, 0, 0.892);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center; }
  main .caja-contenedora .grid {
    background-color: rgba(0, 0, 0, 0.892);
    height: 250px; }
    main .caja-contenedora .grid .prod {
      height: 100%;
      width: 100%;
      padding: 0px !important; }

body .navSecundaria .nav-link {
  color: rgba(0, 0, 0, 0.892); }

body .navSecundaria .nav-link {
  color: rgba(0, 0, 0, 0.892); }

body #galeria img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  padding: 5px; }

body #galeriaSucursal img, body #galeriaSucursal iframe {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  padding: 20px; }

body #galeriaSucursal .DirecSucursal {
  padding: 0px 22px !important; }
