body{
    #contactos {
        .contacto{
            width: auto;
            height: auto;
            .imagenContacto{
                width: auto;
                height: 100%;
            }
        }
    } 
}