main{
    .caja-contenedora{
        height: auto;
        width: auto;
        .caja-productos {
            background-color: $negro;
            color: $blanco;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .grid{
            background-color: $negro;
            height: 250px;
            .prod {
                @include sizes (100%, 100%);
                padding: 0px !important;
            }
        }

    }
}