body {
    .navSecundaria .nav-link{
        color:black;
    }
    .navSecundaria .nav-link{
        color:black;
    }
    #galeria {
        img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        padding: 5px;
       }
    }
}