body{
    #galeriaSucursal {
        img, iframe {
        @include sizes (100%, 100%);
        border-radius: 5px;
        padding: 20px;
       }
       .DirecSucursal{
        padding: 0px 22px !important;
        }
    }
}