.header{
    background-color: $azul;
    position: sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    padding: 5px 30px;

    .logo{
        cursor: pointer;
        img{
            @include sizes (auto, 40px);
        }
    }

    .navbar-nav {
        flex-direction: row;
        .nav-item-menu {
            .nav-link {
            color:$blanco;
            padding: 0px 15px 0px 15px;
            }
        }
    }
    
    .fa{

        font-size: x-large;
        color:$blanco;
        padding: 10px 5px 0px 5px;
    }
    
    .offcanvas{
        color:$blanco !important;
        background-color: $negro !important; 
    }
}