@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
main{
    .carousel{
        background-color: $negro;
    }

    .confia {
        background-color: $blanco;
        min-height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cartas {
        background-color: $negro;
        min-height: 100px;
        justify-content: space-around;
        .col{
            min-height: 100px;
            justify-content: center;
            align-items: center;
            display: flex;
            .flip-card {
                background-color: transparent;
                width: 190px;
                height: 254px;
                perspective: 1000px;
                font-family: sans-serif;
                .flip-card-inner {
                    position: relative;
                    @include sizes (100%, 100%);
                    text-align: center;
                    transition: transform 0.8s;
                    transform-style: preserve-3d;
                    .flip-card-front, .flip-card-back {
                        box-shadow: 0 8px 14px 0 $negro;
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        @include sizes (100%, 100%);
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                        border: 1px solid $blanco;
                        border-radius: 1rem;
                      }
                        
                        .flip-card-front {
                            background: linear-gradient(120deg, rgb(146, 153, 157) 60%, rgb(62, 62, 63) 88%,
                               rgb(255, 211, 195) 40%, rgba(69, 67, 67, 0.603) 48%);
                            color: coral;
                            .title {
                                font-size: 1.2em;
                                font-weight: 900;
                                text-align: center;
                                margin: 0;
                                color: $negro;
                              }
                        }
                        .flip-card-back {
                            background: linear-gradient(120deg, rgb(33, 115, 197) 30%, rgb(26, 10, 105) 88%,
                               bisque 40%, rgba(69, 67, 67, 0.603) 48%);
                            color: $blanco;
                            transform: rotateY(180deg);
                            overflow: hidden;
                            .textoBack {
                                font-size: 17px;
                                color: $blanco;
                                justify-content: center;
                                justify-items: center;
                            }
                        }
                }
            }
            &:hover .flip-card-inner {
                transform: rotateY(180deg);
            }
        }
    }

}